#no-underline {text-decoration: none;}


#font-color {text-decoration: none;
            color: green;}


#last-link-style {text-decoration: none;
                  color: green;}

#last-link-style:hover {background-color: black;
                         color: white;}                  

#verylast-link-style {text-decoration: none;
                        color: green;
                        padding: .5rem;}

#verylast-link-style:hover {background-color: black;                        
                            border-radius: 3rem;
                            color: white;}                  


#a-underline{text-decoration: underline;}

