body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.picture-Info{
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin: 2rem;
}
.picture-heading {
    background-color: #222;
    color: dodgerblue;
    padding: 1rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.picture-Info p {
    padding: 1rem;
}

.brand {color: dodgerblue !important;}

.blog-Title {color: black;}

.blog-Title:hover {text-decoration:none;
                    color:dodgerblue;
}
