@model ApplicationCore.Entities.Blog

@{
    ViewData["Title"] = "Create Blog";
    ViewData["Action"] = "Create";
}

<h2>Create</h2>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        @Html.Partial("_Edit", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="/js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
