@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>
    Hi! My name is Nicole.  After spending many years in the land of AS/400s (and a couple side years in JDE) coding in RPG, I decided to branch out and start learning some new things.  I had a little work experience with .net and had played around with html and css in my spare time, so I knew what I wanted to do, but wasn't sure about what to do to get started.  I ended up quitting my dying career in AS400 and signed up for a coding bootcamp.
    I am currently attending <a href="http://codecareeracademy.com">Code Career Academy</a> in Lawrenceville, GA to learn web development.  As you can see from my website, I have learned a few things.  I know there is much more to learn and I look forward to it!
</p>
