@model ApplicationCore.Entities.Blog

@{
    ViewData["Title"] = "BlogPost";
}

<div>
    @if (Model.Image != "none" && Model.Image != "")
    {
    <img src="~/images/@Model.Image" alt="Visual Studio" class="img-responsive" />
    }
</div>

<div>
    <h4>@Model.Title</h4>
    <hr />
    
       
        
        <p>
            @Model.Content)
        </p>
        
        <div class="picture-Info">
            <div class="picture-heading">About the Picture</div>
            <p>@Html.DisplayNameFor(model => model.AboutImage)</p>
        </div>
        
</div>

