@model ApplicationCore.Entities.Blog

@{
    ViewData["Title"] = "BlogPost";
}
@if (Model.CSS != null && Model.CSS != "")
{
@section cssSection { <link rel="stylesheet" href="~/css/@Model.CSS"> }
}
<div class="row">
    <div>
        @if (Model.Image != null && Model.Image != "")
        {
            <img src="~/images/@Model.Image" alt="blog pic" class="img-responsive site-image" />
        }
    </div>
</div>

<div class="row">

    <div class="col-md-9">
        <h2>@Model.Title</h2>
        <h4>@Model.Date</h4>
        <hr />
        @Html.Raw(Model.Content)

    </div>
    <div class="col-md-3">
        @if (Model.AboutImage != null  && Model.AboutImage != "")
        {
            <div class="picture-Info">
                <div class="picture-heading">
                    <h4>About the Picture</h4>
                </div>
                <p>@Html.DisplayFor(model => model.AboutImage)</p>
            </div>
        }

    </div>

</div>


@if (Model.Scripts != null && Model.Scripts != "")
{
@section Scripts {
    <script src="/js/@Model.Scripts"></script>"
}
}

