@model IEnumerable<ApplicationCore.Entities.Blog>

@{
    ViewData["Title"] = "Home Page";
}
<div>
<img src="~/images/JNInspirationPoint.jpg" alt="Inspiration Point" class="img-responsive" />
</div>
<div class="row">

    <article class="col-md-4">
        <h1>Welcome!</h1>
        <p>
            Welcome to nBlog. Currently, I am going back to school to learn web development.
            I plan on posting some things I have learned here as well as some other items of interest.
            Hopefully, you will be able to find something useful, interesting or maybe even inspirational here.
        </p>

        <nav id="random-Links">
            <h3>Random Links</h3>
            <ul class="nav">
                <li><a class="nav-link" href="http://jeffa.tech">Jeff Ammons - coding guru</a></li>
                <li><a class="nav-link" href="http://codecareeracademy.com">Code Career Academy</a></li>
                <li><a class="nav-link" href="http://petfinder.com">Find a new buddy!</a></li>
                <li><a class="nav-link" href="http://atlutd.com">Check out the latest <strong>Atlanta United</strong> news!</a></li>
            </ul>
        </nav>

    </article>
    <div class="col-md-5">
        @foreach (var item in Model)
        {
            <article>
                <h2>@Html.ActionLink(item.Title, "BlogPost", new { id = item.Id }, new { @class = "blog-Title" })</h2>
                <p>@item.Summary</p>
                <hr />
            </article>

        }


    </div>
    <aside class="col-md-3">
        <div class="picture-Info">
            <div class="picture-heading">
                <h4>About the Picture</h4>
            </div>
            <p>For those wondering about the picture, it was taken in the Grand Tetons around 2012. If you are ever in the area, try the<a href="http://www.tetonhikingtrails.com/inspiration-point.htm"> hike!</a></p>
        </div>

    </aside>
    <nav id="random-Links-small">
        <h3>Random Links</h3>
        <ul class="nav">
            <li><a class="nav-link" href="http://jeffa.tech">Jeff Ammons - coding guru</a></li>
            <li><a class="nav-link" href="http://codecareeracademy.com">Code Career Academy</a></li>
            <li><a class="nav-link" href="http://petfinder.com">Find a new buddy!</a></li>
            <li><a class="nav-link" href="http://atlutd.com">Check out the latest <strong>Atlanta United</strong> news!</a></li>
        </ul>
    </nav>
</div>
