@model IEnumerable<ApplicationCore.Entities.Blog>

@{
    ViewData["Title"] = "Home Page";
}
<div>
<img src="~/images/JNInspirationPoint.jpg" alt="Inspiration Point" class="img-responsive" />
</div>
<div class="row">

    <div class="col-md-4">
        <h1>Welcome!</h1>
        <p>Welcome to nBlog. Currently, I am going back to school to learn web development.
        I plan on posting some things I have learned here as well as some other items of interest. 
        Hopefully, you will be able to find something useful, interesting or maybe even inspirational here.</p>

    </div>
    <div class="col-md-5">
        @foreach (var item in Model)
        {
            <div>
                <h2>@Html.ActionLink(item.Title, "BlogPost", new { id = item.Id }, new { @class = "blog-Title" })</h2>
                <p>@item.Summary</p>
                <hr/>
            </div>
           
        }


    </div>
    <div class="col-md-3">
        <div class="picture-Info">
            <div class="picture-heading">
            <h4>About the Picture</h4>
            </div>
            <p>For those wondering about the picture, it was taken in the Grand Tetons around 2012. If you are ever in the area, try the<a href="http://www.tetonhikingtrails.com/inspiration-point.htm\"> hike!</a></p>
        </div>

    </div>
</div>
